# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

# Tables in markdown files are formatted differently if they are placed directly after text without blank like. This format is our ideal one. Examples are in our runbooks.

**/staticresources/**
.localdevserver
.sfdx

coverage/

config/pmd-ruleset.xml

*.md

frameworks/**

**/experiences/**/*.json
**/*.email

# Exclude most xml files, except for SVG, for example
**/*-meta.xml

deltas/destructiveChanges/destructiveChanges.xml
deltas/destructiveChanges/package.xml
deltas/package/package.xml