# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/**
.localdevserver
.sfdx

coverage/

sfdx-source/frameworks/**

config/pmd-ruleset.xml

# Tables in markdown files are formatted differently if they placed directly after text without blank like. This format is our ideal one. Examples are in our runbooks.

**/*-meta.xml
