{
	"trailingComma": "none",
	"singleQuote": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"apexInsertFinalNewline": true,
	"plugins": [
		"prettier-plugin-apex",
		"@prettier/plugin-xml"
	],
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{app,auradoc,cmp,design,page,component}",
			"options": { "parser": "html" }
		}
	]
}
